:root {
	--color-primary: #ea2340;
	--color-secondary: #1c1d24;
	--color-tertiary: #474a5c;
	--color-quaternary: #ffffff;
	--color-quinary: #9598ac;
	--color-senary: #f5f5f5;
	--color-septenary: #f7a41e;
	--color-octonary: #1fa2a3;
}
